html{
    background-color: #FFFFFF;
}
.body{
    width: 1920px ;
 height: 1080px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 0px;
 margin-bottom: 0px;
 padding: 0px;
}
.navone{
   
  
  
    width: 1920px;
    height: 300px;
    border-radius: 3px;
    background-image: url(../img/f3IdkiTAvwDR1T5dLiG7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.one{
    width: 1920;
    height: 300;
    align-items:flex-end;
    margin-top: -300px;
}
.two{
    width: 1920;
    height: 980;
    align-items:flex-start;
}
.margin1{

    font-family:PingFang TC;
    color:#FFFFFF;
    font-size: 33px;
    font-weight: 1920;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    position: absolute;
    top:168;
    left:1001;
}
.margin2{

    font-family:PingFang TC;
    color:#FFFFFF;
    font-size: 33px;
    font-weight: 1920;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    position: absolute;
    top:168;
    left:1200;
}.margin3{

    font-family:PingFang TC;
    color:#FFFFFF;
    font-size: 33px;
    font-weight: 1920;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    position: absolute;
    top:168;
    left:1390;
}.margin4{

    font-family:PingFang TC;
    color:#FFFFFF;
    font-size: 33px;
    font-weight: 1920;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    position: absolute;
    top:168;
    left:1580;
}
.margin5{

    font-family:PingFang TC;
    color:#FFFFFF;
    font-size: 33px;
    font-weight: 1920;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    position: absolute;
    top:168;
    left:1770;
}
.i搜索{
    width: 40;
    height: 40;
    position: absolute;
    top:69;
    left: 1712;
}
.margin6{

    font-family:PingFang TC;
    color:#FFFFFF;
    font-size: 33px;
    font-weight: 1920;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    position: absolute;
    top:69;
    left:1770;
}
.button{
    width: 51.39;
    height: 89.87;
    position: absolute;
    top:400;
    left:900;
}
